<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <center><h1>Room Detail</h1></center>
  <h2>Room Number: {{room_no}}</h2>
  <img src="{{room.room_image.url}}" height="200px" width="200px" alt="">
  <h3>Room Type: {{room.room_type}}</h3>
  <h3>Floor Number: {{room.floor}}</h3>
  <h3>Total Beds: {{room.total_beds}}</h3>
  <h3>Monthly Rent: {{room.monthly_rent}}</h3>
  <h3>Status: {{room.status}}</h3>
</body>
</html>